
.priceBlock {
  display: flex;
  flex-direction: column;  
  font-size: 1rem;
  color: #333;
  font-weight: bold;
  margin-top: 1rem; 
}

.nightDescription {
  padding-bottom: 0.3rem;
  font-size: 0.7rem; 
  font-weight: normal;
  color: #262626;
}

.price {
  padding-bottom: 0.3rem;
  text-align: right;
  font-size: 2rem;
  font-weight: normal;
}

.priceIcon {
  line-height: 1.5rem;
  padding-right: 4px;
  vertical-align: top;
  font-size: 1rem;
}

.savings {
  color: #ff0000;
  font-weight: normal;
  font-size: 1rem; 
  text-align: center;
}